<% if user_signed_in? %>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h1 class="text-center" style="color:purple ">Search Movie</h1>
    <div class="row">
      <form id="movie-search">
        <div class="col-xs-8">
          <input type="text" name="query" class="form-control" placeholder="Enter Movie Name">
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-success">Search</button>
        </div>
      </form>
    </div>

  </div>
  <br/>
  <div class="col-xs-12 col-md-6 col-md-offset-3 " style="margin-top:50px ">
  
    
    <div id="movies">
    <h1 style="color:green">RECOMMENDATION: </h1>
       <% @movie.each do |m| %>
                <div class="box panel panel-default pull-left">
                    <div class="panel-body">
                        <p><h3 style="color:red"><%= m.title %></h3></p>
                        <% Tmdb::Api.key("3deceb9041e72a8856191ddeaf96a293") %>
                         <% Tmdb::Api.language("en") %>
                       <%  @mov = Tmdb::Movie.posters(m.tmdb_id).first.file_path %>
                       <% if @mov? %>
                       <%= image_tag("https://image.tmdb.org/t/p/w185#{@mov}") %>
                       <% end %>
                    </div>
                </div>
            <% end %>
    </div>
    
  </div>
</div>
<% else %>
<h1> PLEASE LOG IN </h1>
<% end %>

 <script>
 function getBaseImageUrl(){
    var url = "";
    var settings = {
      "async": false,
      "crossDomain": true,
      "url": "https://api.themoviedb.org/3/configuration?api_key=3deceb9041e72a8856191ddeaf96a293",
      "method": "GET",
      "headers": {},
      "data": "{}"
    }

    $.ajax(settings).done(function (response) {
      url = response["images"]["base_url"] + response["images"]["poster_sizes"][3];
    });
    return url;
  }
  </script>