<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h1 class="text-center" style="color:purple ">Search Movie</h1>

    <div class="row">
      <form id="movie-search">
        <div class="col-xs-8">
          <input type="text" name="query" class="form-control" placeholder="Enter Movie Name">
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>

  </div>
  <br/>
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div id="movies">

    </div>
  </div>
</div>