
/*
 * Footer Styles
 */
 .site-footer {
     background-color: #0e0e16;
     padding: 50px 0; 
     margin-top: 50px;
    }
    .site-footer .widget {
        margin-bottom: 30px; }
    .site-footer .widget-title {
        color: #bec1c8;
        font-weight: 300; }
    .site-footer .subscribe-form input[type="text"] {
        width: 100%;
        border: 1px solid #bec1c8;
        background-color: transparent;
        background-image: url(./arrow.png);
        background-repeat: no-repeat;
        background-position: right center;
        color: inherit;
        font-size: 13px;
        font-size: 0.8666666667em;
        -webkit-transition: .3s ease;
                transition: .3s ease; }
        .site-footer .subscribe-form input[type="text"]:focus, .site-footer .subscribe-form input[type="text"]:hover {
        border-color: #ffaa3c; }
    .site-footer a {
        color: #84878d;
        -webkit-transition: .3s ease;
                transition: .3s ease; }
        .site-footer a:hover {
        color: #ffaa3c; }
    .site-footer .colophon {
        padding-top: 30px; }
    
   
    .site-footer .colophon {
        padding-top: 30px; 
        text-align: center;}