@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.signup-page, .login-page, .edituser-page {

  width: 100%;
  padding: 2% 0 0;
  margin: auto;
  height: 100%;

  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 

}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 50%;

  margin: 50px auto 100px;

  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  height: auto;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0 #f2f2f2;

  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;

  background: #f2f2f2;
}

.checkbox{
    text-align: left; 
}

.loginlink{
  text-align: center;

}