// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
footer,
header,
nav,{
  display: block;}

html,body {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; 
  height: 100%;
  width: 100%;
}


  /*
 * Global Styles
 */

 html,
 button,
 input,
 select,
 textarea {
   font-family: sans-serif; }

 body {
    background-color: #c1cccbe5;
    color: #84878d;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: normal; 
    margin: 0;}
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0 0 20px; }
  
  hr {
    border: none;
    border-bottom: 1px solid #777; }
  
  ul, ol {
    margin: 0;
    padding-left: 0; }
  
  a {
    text-decoration: none;
    color: #ffaa3c; }
  
  address {
    font-style: normal; }
  
  p {
    margin-top: 0; }
  
  form input, form textarea, form select {
    outline: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    outline: none; }
  form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  form textarea {
    resize: vertical; }

.wrapper{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.contents{
  width: 100%;
  height: 62%;
  margin: 0px;
  padding: 0px;
}



/*
 * Reusable Components Style
 */
 .button, form input[type="submit"], form button, form input[type="reset"], .contact-form input[type="submit"] {
  border: none;
  background: #ffaa3c;
  padding: 10px;
  border-radius: 3px;
  color: #92601e;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s ease;
          transition: .3s ease; }
  .button:hover, form input[type="submit"]:hover, form button:hover, form input[type="reset"]:hover, .contact-form input[type="submit"]:hover, .button:focus, form input[type="submit"]:focus, form button:focus, form input[type="reset"]:focus, .contact-form input[type="submit"]:focus {
    background-color: #ffc06f; }

.slider {
  position: relative;
  margin-bottom: 10px; }
  .slider .slides {
    list-style: none;
    *zoom: 1; }
    .slider .slides:after {
      content: " ";
      clear: both;
      display: block;
      overflow: hidden;
      height: 0; }
  .slider li {
    border-radius: 5px;
    overflow: hidden; }
  .slider img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block; }
  .slider .flex-direction-nav {
    list-style: none;
    z-index: 2;
    position: absolute;
    top: 45%;
    width: 100%; }
    .slider .flex-direction-nav a {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: white;
      text-align: center;
      line-height: 2.5;
      font-size: 18px;
      font-size: 1.2em;
      display: block;
      position: absolute;
      -webkit-transition: .3s ease;
              transition: .3s ease; }
      .slider .flex-direction-nav a:hover {
        background-color: #ffaa3c;
        color: white; }
    .slider .flex-direction-nav .flex-prev {
      left: 30px; }
    .slider .flex-direction-nav .flex-next {
      right: 30px; }

.latest-movie {
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden; }
  .latest-movie img {
    max-width: 100%;
    width: 100%;
    display: block;
    height: auto; }

.team {
  text-align: center;
  margin: 0 0 30px; }
  .team .team-image {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 30px; }
    .team .team-image img {
      display: block;
      max-width: 100%;
      width: 100%; }
  .team .team-name {
    font-size: 16px;
    font-size: 1.0666666667em;
    margin: 0; }
  .team .team-title {
    font-size: 12px;
    font-size: 0.8em; }

.social-links {
  margin: 20px 0; }
  .social-links a {
    color: white;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 1.9;
    -webkit-transition: .3s ease;
            transition: .3s ease; }
  .social-links .facebook {
    background-color: #204385; }
    .social-links .facebook:hover {
      background-color: #2a58ae; }
  .social-links .twitter {
    background-color: #2aa9e0; }
    .social-links .twitter:hover {
      background-color: #57bbe6; }
  .social-links .google-plus {
    background-color: #d3492c; }
    .social-links .google-plus:hover {
      background-color: #dc6d56; }
  .social-links .pinterest {
    background-color: #ca2128; }
    .social-links .pinterest:hover {
      background-color: #e03e45; }

.breadcrumbs {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ebebeb; }
  .breadcrumbs a {
    font-weight: 400;
    color: #9ea1a6; }
    .breadcrumbs a:after {
      content: " ";
      width: 8px;
      height: 5px;
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      background: url(images/arrow-gray.png) no-repeat; }
    .breadcrumbs a:hover {
      color: #ffaa3c; }
  .breadcrumbs span {
    color: #84878d; }

ul.arrow {
  list-style: none; }
  ul.arrow li {
    padding-left: 20px;
    background: url(images/arrow.png) no-repeat 0 center;
    margin-bottom: 5px; }
    ul.arrow li a {
      color: #84878d;
      -webkit-transition: .3s ease;
              transition: .3s ease; }
      ul.arrow li a:hover {
        color: #ffaa3c; }

        .container {
          margin-right: auto;
          margin-left: auto;
          padding-left: 15px;
          padding-right: 15px;
          *zoom: 1; }
          .container:after {
            content: " ";
            clear: both;
            display: block;
            overflow: hidden;
            height: 0; }
          @media (min-width: 768px) {
            .container {
              width: 750px; } }
          @media (min-width: 992px) {
            .container {
              width: 970px; } }
          @media (min-width: 1200px) {
            .container {
              width: 1170px; } }
        
        .container-fluid {
          margin-right: auto;
          margin-left: auto;
          padding-left: 15px;
          padding-right: 15px;
          *zoom: 1; }
          .container-fluid:after {
            content: " ";
            clear: both;
            display: block;
            overflow: hidden;
            height: 0; }
        
        .row {
          margin-left: -15px;
          margin-right: -15px;
          *zoom: 1; }
          .row:after {
            content: " ";
            clear: both;
            display: block;
            overflow: hidden;
            height: 0; }
  
            .main-content .container {
              background: white;
              border-radius: 5px;
              padding: 30px; }
            
            .section-title {
              font-size: 30px;
              font-size: 2em;
              font-weight: 300; }
            
            .movie-schedule {
              list-style: none; }
              .movie-schedule li {
                padding: 10px 0;
                border-bottom: 1px solid #d7d8da; }
                .movie-schedule li:last-child {
                  border-bottom: none; }
              .movie-schedule .date, .movie-schedule .entry-title {
                display: inline-block; }
              .movie-schedule .date {
                width: 80px;
                padding: 5px 10px;
                text-align: center;
                font-size: 12px;
                font-size: 0.8em;
                border: 1px solid #d7d8da;
                border-radius: 3px;
                margin-right: 10px; }
              .movie-schedule .entry-title {
                font-size: 15px;
                font-size: 1em;
                font-weight: 400;
                margin: 0; }
                .movie-schedule .entry-title a {
                  -webkit-transition: .3s ease;
                          transition: .3s ease; }
                  .movie-schedule .entry-title a:hover {
                    color: #84878d; }
            
            .no-bullet {
              list-style: none; }
            
            .leading {
              font-size: 26px;
              font-size: 1.7333333333em;
              font-weight: 300; }
            
            .page figure {
              margin-bottom: 30px; }
            .page img {
              max-width: 100%; }
            .page .movie-title {
              font-size: 36px;
              font-size: 2.4em;
              font-weight: 300; }
            
            .filters {
              margin-bottom: 50px; }
              .filters select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding: 10px 50px 10px 10px;
                background-color: #e7e7e7;
                border-radius: 5px;
                border: none;
                margin-right: 10px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                outline: none;
                background-image: url(images/select.png);
                background-repeat: no-repeat;
                background-position: 100% center; }
            
            .movie-list {
              margin: 0 -15px; }
              .movie-list .movie {
                width: 25%;
                padding: 0 15px;
                float: left;
                margin-bottom: 30px; }
                @media screen and (min-width: 991px) {
                  .movie-list .movie:nth-child(4n+1) {
                    clear: both; } }
                @media screen and (max-width: 990px) {
                  .movie-list .movie {
                    width: 50%; }
                    .movie-list .movie:nth-child(4n+1) {
                      clear: none; }
                    .movie-list .movie:nth-child(2n+1) {
                      clear: both; } }
                @media screen and (max-width: 480px) {
                  .movie-list .movie {
                    width: 100%;
                    clear: both; } }
                .movie-list .movie .movie-poster {
                  border-radius: 5px;
                  overflow: hidden;
                  margin-bottom: 20px;
                  border: 1px solid transparent; }
                  .movie-list .movie .movie-poster img {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    -webkit-transition: .3s ease;
                            transition: .3s ease; }
                .movie-list .movie:hover img {
                  -webkit-transform: scale(1.2);
                      -ms-transform: scale(1.2);
                          transform: scale(1.2); }
                .movie-list .movie .movie-title {
                  font-size: 24px;
                  font-size: 1.6em;
                  font-weight: 300;
                  margin-bottom: 20px; }
                  .movie-list .movie .movie-title a {
                    color: #84878d;
                    -webkit-transition: .3s ease;
                            transition: .3s ease; }
                    .movie-list .movie .movie-title a:hover {
                      color: #ffaa3c; }